.unity-progress-bar {
    color: rgb(255, 255, 255);
}

.unity-progress-bar__title-container {
    background-color: rgba(0, 0, 0, 0);
}

.unity-progress-bar__progress {
}

#hpbar .unity-progress-bar__progress {
    background-color: rgb(161, 0, 0);
}

#mpbar .unity-progress-bar__progress {
    background-color: rgb(14, 62, 111);
}
